---
name: Test

on:
  pull_request:
    branches:
      - master

jobs:
  test:
    uses: wetransform/gha-workflows/.github/workflows/gradle-library-check.yml@b8c149abb6fed430a99dbd7ca25a093ffe875ab1 # v4.0.0
    with:
      java-version: 17
      multi-module: false
      skip-scan: true
