---
name: Test

on:
  pull_request:
    branches:
      - master

jobs:
  test:
    uses: wetransform/gha-workflows/.github/workflows/gradle-library-check.yml@5f035642502eb701fce3df07c9b5d2a3c815486b # v3.8.1
    with:
      java-version: 17
      multi-module: false
      skip-scan: true
