---
#
# PLEASE NOTE: Managed workflow - do not change manually
#
name: Check

on:
  pull_request:
    branches:
      - master

jobs:
  check:
    uses: wetransform/gha-workflows/.github/workflows/dockerfile-build.yml@5f035642502eb701fce3df07c9b5d2a3c815486b # v3.8.1
    with:
      image: wetransform/conversion-gdal
      tag: pr
