---
#
# PLEASE NOTE: Managed workflow - do not change manually
#
name: Publish

on:
  push:
    branches:
      - master
  workflow_dispatch: {}

concurrency:
  # only run one publishing at a time to avoid conflicts
  group: publish-${{ github.ref }}

jobs:
  publish:
    # Only on main repository (don't publish on forks)
    if: github.repository_owner == 'wetransform-os'

    uses: wetransform/gha-workflows/.github/workflows/dockerfile-publish.yml@5f035642502eb701fce3df07c9b5d2a3c815486b # v3.8.1
    with:
      image: wetransform/conversion-gdal
      tag: latest
    secrets:
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
      DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
      SLACK_NOTIFICATIONS_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
